#logo
{width:300px;
display: block;
margin: left;
margin-top:-20px;
}
#wrapper
{width: 960px;
background-color: black;
margin: 0 auto;
padding: 30px;
font-family: helvetica ;
clear: both;
padding-top: 10px;
}
#capo
{float:left;
width: 300px;
margin-left: -19px;


padding: 20px;
display: inline-block;
}
body{background-image: url(../image/fondo.jpg)
}
body{
    background: url(../image/fondo.jpg)no-repeat center;
    background-size:cover;
}
nav>ul>li{display: inline}
nav{background-color: grey;text-align: center;}
a{display: inline-block;
text-decoration:none;
width: 200px;
height:35px;
padding-top:15px;
font-family:helvetica;
color: black}
a:link, a;visited{
	background-color:grey;
}
a:hover,a:active{
	background-color:white;
}
iframe{
/*{float: left;
*/}
p
{color:#eee}
footer{
	color: #eee;
}
.carlito {
	color:white;
	color:#eee;
line-height: 1.4;
margin-top:10;
margin-right: 10;
font-family: helvetica;
padding-top: 15px;
}
#gua
{float:left;
width: 300px;
display: inline-block;
height:200;
padding-right:25px;
}
#san
{float: right;}
audio
{padding-top: 10px;}
